* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #ad78dd, #5a97cd);
}

.rd20 {
    border-radius: 20px;
}

.bg {
    background: #8459aa;
}

.container {
    padding: 10px;
    width: 750px;
    height: auto;
    margin: 20px;
    background: #ffffff;
}

.header {
    height: 150px;
    margin-bottom: 10px;
}

.mid {
    display: flex;
    margin: 10px 0;
    column-gap: 10px;
}

.mid__block {
    flex-basis: 100%;
    height: 200px;
    background: #336ea3;
}

.footer {
    height: 300px;
}


