* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #6f2626, #504117);
}

.rd20 {
    border-radius: 20px;
}

.ht300 {
    height: 300px;
}

.ht100 {
    height: 100px;
}

.mg__tb {
    margin: 10px 0;
}

.container {
    width: 650px;
    height: auto;
    margin: 20px;
    padding: 10px;
    background: #ffffff;
}

.header {
    height: 100px;
    background: #ac6c51;
}

.navbar {
    width: 100%;
    height: 80px;
    background: #895797;
}

.mid {
    display: flex;
    column-gap: 10px;
}

.main {
    flex-basis: 75%;
    background: #50649d;
}

.aside {
    flex-basis: 25%;
    background: #50a39e;
}

.footer {
    background: #4b9642;
}