* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*------------------------------------------------------------------*/

.header {
    height: 100vh;
    background: url("../image/bg.png") no-repeat center top/cover;
    font-family: Open Sans, sans-serif;
}

.header__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.header__nav {
    display: flex;
}

.nav__menu * {
    color: #FFFFFF;
}

.nav__menu {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.nav__menu a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
}

.nav__menu img {
    width: 15px;
}

#nav__line {
    width: 1px;
    background: #FFFFFF;
    height: 51px;
}

.nav__phone {
    color: #FFFFFF;
    font-style: normal;
}

.nav__phone img {
    width: 23px;
}

.nav__phone span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.nav__phone p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    max-width: 154px;
}

.header__btn {
    height: 47px;
    padding: 0 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF7400;
    border: none;
    margin-left: 25px;
    cursor: pointer;
}

.header__btn:hover {
    opacity: 0.9;
}

/*-----------------------------------------------------*/

.header__title {
    max-width: 520px;
    margin: 229px 0 0 25px;
    font-family: Tinos, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #D67E35;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
}

.header__title h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    font-family: "Open sans", sans-serif;
    margin: 12px 0;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header__title p:before,
.header__title p:after {
    content: '';
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}
.header__title button {
    margin: 0;
    padding: 0 27px;
}

/*-----------------------------------------------------*/

/*-----------------------MOBILE BURGER------------------------------*/

.header__burger-btn {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    width: 30px;
}

.header__burger-btn div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.nav__menu.active {
    display: flex;
    position: absolute;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: 390px;
    padding-top: 20px;
    top: 60px;
    right: 5px;
    height: 90vh;
    background: rgba(0, 0, 0, 0.91);
}

/*-----------------------MOBILE BURGER------------------------------*/

/*-----------------------------------------------------*/

.three__blocks {
    display: flex;
    justify-content: space-evenly;

}

.header__block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 328px;
    height: 349px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    top: 225px;
}

.header__block * {
    font-family: Tinos, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header__block img {
    width: 87px;
    height: 87px;
}

.header__block h3 {
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
    margin-bottom: 20px;
}

.header__block p {
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
}

.header__block span {
    color: #bc9060;
}


/*.our__history {*/
/*    height: 500px;*/
/*}*/